version: '3.8' 

services:
  
  frontend: 
    build:
      context: ./frontend 
      dockerfile: Dockerfile 
    ports:
      - "80:80" 
    depends_on:
      - api 

  api: 
    build:
      context: ./backend/server 
      dockerfile: Dockerfile 
    ports:
      - "3000:3000" 
    environment:
      
      - MONGO_URI=mongodb://admin:password123@mongo:27017/mean-docker?authSource=admin 
    depends_on:
      - mongo 

  mongo: 
    image: mongo:6.0 
    container_name: mongodb_server 
    restart: always 
    ports:
      - "27017:27017" 
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin 
      - MONGO_INITDB_ROOT_PASSWORD=password123 
    volumes:
      - mongo-data:/data/db 

volumes:
  mongo-data: 